.map-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 40px 40px 40px;
}

.mapboxgl-map {
  border-radius: 10px;
}

.paranormal-map-heading {
  padding: 20px 0 20px 0;
}

.pin {
  background: none;
  border: none;
  cursor: pointer;
}

.popup {
  width: 25%;
  height: 60px;
  line-height: 1.5;
  cursor: pointer;
}

.popup p {
  font-size: 0.5em;
}

@media screen and (max-width: 768px) {
  .map-container {
    padding: 0 20px 40px 20px;
  }
}

@media screen and (max-width: 480px) {
  .map-container {
    padding: 0 15px 40px 15px;
  }
}
