.map-container {
  height: 500px;
  width: 50vw;
}

.pin {
  background: none;
  border: none;
  cursor: pointer;
}

.popup {
  width: 40%;
  height: 60px;
  line-height: 1.5;
  cursor: pointer;
}

.popup p {
  font-size: 0.5em;
}
