.App {
  box-sizing: border-box;
  width: 100vw;
  min-height: 100vh;
  display: flex;
  /* justify-content: space-around; */
  align-items: center;
  flex-direction: column;
  text-align: center;
  font-size: 2em;
  padding-top: 100px;
  background-color: #282c34;
}

a {
  text-decoration: none;
  color: #282c34;
}

UserCard {
  margin: 100px;
}